@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
    background: #000000;
}

#background {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

/* container for music player */
.container {
    position: absolute;
    height: 150px;
    width: 350px;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 0 10px #000000;
}

/* container for play, pause, previous track, next track, and progress bar  */
.box {
    position: absolute;
    height: 50%;
    width: 103%;
    z-index: 4;
    bottom: -17%;
}



/* track artist */
.song-artist {
    position: absolute;
    z-index: 4;
    color: rgb(193, 255, 6);
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 20px;
    bottom: 50%
}

/* track title */
.song-title {
    position: absolute;
    z-index: 4;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    bottom: 30%;
    left: 26%
}

/* style for play and pause images */
#play-pause {
    position: absolute;
    height: 50px;
    width: 50px;
    filter: invert(1);
    cursor: pointer;
    z-index: 4;
    font-size: 53px;
    left: 9%;
}

/* style for next and previous song images */
#next-song, #previous-song {
    position: absolute;
    height: 30px;
    width: 30px;
    filter: invert(1);
    cursor: pointer;
    font-size: 40px;
    z-index: 4;
}

/* unique style for next song image */
#next-song {
    right: 10%;
    bottom: 50%
}

/* unique style for previous song image */
#previous-song {
    right: 10%;
    bottom: 25%;
}

